<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RabbitMqConnectionString" connectionString="host=localhost" />
  </connectionStrings>

  <appSettings>
    <add key="IMicroServicesCoreConfiguration_ServiceName" value="PowerUps.MicroServices.LogEnricher" />
    <add key="IMicroServicesCoreConfiguration_ServiceDescription" value="" />
    <add key="IMicroServicesCoreConfiguration_Port" value="8081" />
    <add key="IMicroServicesCoreConfiguration_AppName" value="PowerUps.MicroServices.LogEnricher" />
    <add key="IMicroServicesCoreConfiguration_EnvName" value="Developer" />
    <add key="IMicroServicesCoreConfiguration_LogLevel" value="DEBUG" />
    <add key="IMicroServicesCoreConfiguration_ElasticSearchUrl" value="http://localhost:9200" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>