<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <connectionStrings>
    <add name="RabbitMqConnectionString" connectionString="host=localhost" />
    <add name="MsSqlConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;MultipleActiveResultSets=True;Initial Catalog=PowerUps.MicroServices.PushoverFacade" />
  </connectionStrings>

  <appSettings>
    <add key="IPushoverFacadeConfiguration_ServiceName" value="PowerUps.MicroServices.PushoverFacade" />
    <add key="IPushoverFacadeConfiguration_AppName" value="PowerUps.MicroServices.PushoverFacade" />
    <add key="IPushoverFacadeConfiguration_EnvName" value="Developer" />
    <add key="IPushoverFacadeConfiguration_ServiceDescription" value="" />
    <add key="IPushoverFacadeConfiguration_Port" value="8080" />
    <add key="IPushoverFacadeConfiguration_LogLevel" value="DEBUG" />
    <add key="IPushoverFacadeConfiguration_ElasticSearchUrl" value="http://localhost:9200" />
    <add key="IPushoverFacadeConfiguration_RabbitMqExchangeName" value="TEST" />

    <add key="IPersistenceConfiguration_UpgradeScheme" value="DoNothing" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
