<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="RabbitMqConnectionString" connectionString="host=localhost" />
    <add name="MsSqlConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;MultipleActiveResultSets=True;Initial Catalog=PowerUps.MicroServices.PushoverFacade" />
  </connectionStrings>
  <appSettings>
    <add key="IPushoverFacadeConfiguration_ServiceName" value="PowerUps.MicroServices.PushoverFacade" />
    <add key="IPushoverFacadeConfiguration_ServiceDescription" value="" />
    <add key="IPushoverFacadeConfiguration_Port" value="8080" />
    <add key="IPushoverFacadeConfiguration_RabbitMqExchangeName" value="TEST" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <appender name="GelfUdpAppender" type="gelf4net.Appender.GelfUdpAppender, gelf4net">
      <remoteAddress value="10.0.1.24" />
      <remotePort value="12201" />
      <layout type="gelf4net.Layout.GelfLayout, Gelf4net">
        <param name="AdditionalFields" value="Environment:Checkout,ApplicationVersion:0.0.0.0,LogLevel:%level" />
        <param name="Facility" value="Web/PushoverFacade" />
        <param name="IncludeLocationInformation" value="true" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>